@import './base.css';
@import "tailwindcss";
@import './animations.css';

#app {
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
}
